body {
	font-family: Arial, sans-serif;
	background-color: #f8f9fa;
}

form:first-child {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


label {
	font-weight: bold;
}

.show-password {
	cursor: pointer;
}

.show-password:hover {
	color: #49d9ec;
}